<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.fengyulou.dao.project.ProjectDao">
    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into fengyulou_project(`name`,user_id) values (#{name},#{userId})
    </insert>
    <update id="updateProjectByIdAndUserId">
        update fengyulou_project set `name`=#{name} where id=#{id} and user_id=#{userId}
    </update>
    <update id="deleteProjectByIdsAndUserId">
        update fengyulou_project set `delete`=1 where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user_id=#{userId}
    </update>

    <select id="getProjectList" resultType="com.guoguo.fengyulou.entity.project.Project">
        select id,`name` from fengyulou_project
        <where>
            `delete`=0
            and user_id=#{userId}
            <if test="name!=null and name!=''">
                and `name` like CONCAT('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>
    <select id="getProjectCountByProject" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_project where `name`=#{name} and user_id=#{userId} and id!=#{id}
    </select>
    <select id="getProjectByIdAndUserId" resultType="com.guoguo.fengyulou.entity.project.Project">
        select id,`name` from fengyulou_project where id=#{id} and user_id=#{userId} limit 1
    </select>
    <select id="getProjectCountByNameAndUserId" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_project where `name`=#{name} and user_id=#{userId}
    </select>
</mapper>