<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.fengyulou.dao.task.label.TaskLabelDao">
    <insert id="insertTaskLabel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into fengyulou_task_label(`name`,user_id,insert_time) values (#{name},#{userId},now())
    </insert>
    <update id="updateTaskLabelByIdAndUserId">
        update fengyulou_task_label set `name`=#{name},update_time=now() where id=#{id} and user_id=#{userId}
    </update>
    <update id="deleteTaskLabelByIdsAndUserId">
        update fengyulou_task_label set `delete`=1,delete_time=now() where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user_id=#{userId}
    </update>

    <select id="getTaskLabelList" resultType="com.guoguo.fengyulou.entity.task.label.TaskLabel">
        select id,`name` from fengyulou_task_label
        <where>
            `delete`=0
            and user_id=#{userId}
            <if test="name!=null and name!=''">
                and `name` like CONCAT('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>
    <select id="getTaskLabelCountByTaskLabel" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_task_label where `name`=#{name} and user_id=#{userId} and id!=#{id}
    </select>
    <select id="getTaskLabelByIdAndUserId" resultType="com.guoguo.fengyulou.entity.task.label.TaskLabel">
        select id,`name` from fengyulou_task_label where id=#{id} and user_id=#{userId} limit 1
    </select>
    <select id="getTaskLabelCountByNameAndUserId" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_task_label where `name`=#{name} and user_id=#{userId}
    </select>
</mapper>